.cols {
	position: relative;
	clear: both;
	padding-bottom: 1px;
}
.cols:after {
	clear: both;
	display: block;
	content: '';
}


.col {
	position: relative;
}



.col_fill {
	overflow: hidden;
	z-index: 1;
}

.col_50 {
	float: left;
	width: 49.9%;
}

.col_33 {
	float: left;
	width: 33.33%;
}

.col_25 {
	float: left;
	width: 25%;
}

.col_right {
	float: right;
}