.i {
	position: absolute;
	overflow: hidden;
	background: url("icons.png") no-repeat;
}

a .i,
.pseudo .i {
	cursor: pointer;
}


/* File icons (begin) */

.file .i {
	background: url("file-icons.png") no-repeat;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
}

/* .i_... */

/* File icons (end) */


/* .i_... */