a,
.pseudo {
	text-decoration: none;
	border-bottom: 1px solid;
}

a,
a.no-visited:visited,
.no-visited a:visited, /* вводим спец. класс для ссылок, не имеющих посещения */
.pseudo,
.pseudo:visited { /* псевдоссылки не могут быть посещены, даже если это тег a */
	color: #043f76;
	border-color: #043f76;
	border-color: rgba(4,63,118,0.3);
}

a:visited {
	color: #800080;
	border-color: #800080;
	border-color: rgba(128,0,128,0.3);
}

a.alt,
a.alt.no-visited,
a.alt.no-visited:visited,
.pseudo.alt,
.pseudo.alt:visited,
.alt-links a,
.alt-links .pseudo,
.alt-links .pseudo:visited,
.alt.no-visited a,
.alt.no-visited a:visited {
	color: #000;
	border-color: #000;
	border-color: rgba(0,0,0,0.3);
}

a.alt_2,
a.alt_2.no-visited,
a.alt_2.no-visited:visited,
.pseudo.alt_2,
.pseudo.alt_2:visited,
.alt-links_2 a,
.alt-links_2 .pseudo,
.alt-links_2 .pseudo:visited,
.alt_2.no-visited a,
.alt_2.no-visited a:visited {
	color: #fff;
	border-color: #fff;
	border-color: rgba(255,255,255,0.3);
}

/*
	!important тут пишем потому, что у некоторых ссылок нужно изменить цвет,
	и если тут не будет !important, то ховер таких ссылок затрётся.
*/
a:hover,
.js .pseudo:hover {
	color: #cc0000 !important;
	border-color: #cc0000 !important;
}


.pseudo {
	border-bottom-style: dotted;
	cursor: pointer;
}

.no-js .pseudo {
	border-bottom: none;
	cursor: auto;
}
