body {
	color: #000;
	background: #fff;
	font: normal 93.75%/1.4 Helvetica, Arial, sans-serif;
}


/* Common page layout styles (begin) */

.page {
	position: relative;
	min-height: 100%;
	min-width: 980px;
	max-width: 1400px;
}

.page-header {
	position: relative;
	width: 100%;
}


.page-content {
	position: relative;
	
}


.page-footer {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 10em;
	padding: 0 0 1em 0;
	margin-top: -11em;
}



.fader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #044076;
	opacity: 0.85;
	z-index: 200;
}
.lte9 .fader {
	filter: alpha(opacity=85);
}
